<%= @artist.name %>
    <h3><%= pluralize(@artist.songs.count, 'song') %></h3>
<ul>
    <%= @artist.songs.each do |i| %>
        <li>Song: <%= link_to i.title, song_path(i) %></li>
    <% end %>
</ul>